<p id="notice"><%= notice %></p>

<h1>Ofertas Laborales</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Cargo</th>
      <th>Descripción</th>
      <th>Vacantes</th>
      <th>Rango Salario</th>
      <th>Fecha inicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oferta.each do |ofertas| %>
      <tr>
        <td><%= ofertas.cargo %></td>
        <td><%= ofertas.descripcion %></td>
        <td><%= ofertas.cant_vacantes %></td>
        <td>Entre $<%= ofertas.salario_min %> a $<%= ofertas.salario_max %> CLP.</td>
        <td><%= ofertas.fecha_inicio %></td>
        <!--<td><%= link_to "Ver más", about_ofertum_path(ofertum) %></td>-->
        <td><%= link_to "Ver", ofertum, class: "btn btn-outline-dark" %></td>
        <% if empresa_signed_in? %>
        <td><%= link_to "Editar", edit_ofertum_path(ofertum), class: "btn btn-outline-dark" %></td>
        <td><%= link_to "Eliminar", ofertum, method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn btn-outline-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if empresa_signed_in? %>
<%= link_to "Nueva Oferta", new_ofertum_path, class: "btn btn-outline-dark" %>
<% end %>
<%= link_to "Buscar", search_oferta_path, class: "btn btn-outline-dark" %>
